/* Page alignment */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, black);
  font-family: Arial, sans-serif;
  width:200vh;
}

/* ID Card Container */
.id-card {
  width: 320px;
  background: #ffffff;
  border-radius: 18px;
  padding: 22px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

/* Header */
.header {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Details section */
.details {
  text-align: left;
  margin-top: 12px;
  font-size: 14px;
  color: #334155;
}

/* Button */
.btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #4338ca;
}